header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid black;
}

.logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

nav {
  display: inline-flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;

}

a {
  color: black;
}

.column {
  display: flex;
  justify-content: space-between;
  border: solid black;
  margin: 0 100px;
}

.large {
  width: 630px;
  border: solid black;

}

.medium {
  width: 300px;
  border: solid black;

}

.small {
  width: 240px;
  border: solid black;

}

.image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}

.main {
  background-image: URL("../img-story-main.png");
  font-size: 40px;
}

.story-1{
  background-image: URL("../img-story-1.png");
}

.story-2 {
  background-image: URL("../img-story-2.png");
}

.story-3 {
  background-image: URL("../img-story-3.png");
}

.article {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
